<section class="page">
  
  <div class="home-page-pitch-version-2">
    <h1>WHO WE ARE...</h1>
    <p>We are the bridge between</p>
    <p>the largest service providers, located</p>
    <p>in USA and Canada</p>

    <p>and</p>
    <p>outsoursed call centers, located in</p>
    <p>former USSR countries</p>
  </div>
  <div class="about-page-image">

  </div>
</section>