<section class="page">
  
  <div class="home-page-pitch-version-2">
    <h1>CONTACT US</h1>
    <p>Name*</p>
    <p>Phone umber</p>
    <p>Email address*</p>
    <p>Comments*</p>
    <p>*-required fields</p>
    <p>Submit</p>
  </div>
  <div class="contact-page-image">

  </div>
</section>