<section class="pag">

<div class="customers-page-image">

</div>

<div class="home-page-pitch-version-2">
  <h1>OUR FIELDS OF WORK</h1>
  <p>banks</p>
  <p>transportation companies</p>
  <p>telecommunication providers</p>
  <p>charity organizations</p>
  <p>ets</p>
</div>


</section>