<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OAS BRIDGE</title>
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    
    <div class = "links-in-nav-bar">
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/customers">Customers</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact Us</a>
    </div>
    <div class="logo-image-in-nav-bar" id="logo">
      <img src="/images/JPEG.jpg" alt="Logo in Nav Bar">
    </div>
  </nav>
  

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>