<section class="page">
  <div class="services-page-image">

  </div>

  <div class="home-page-pitch-version-2">
    <h1>OUR SERVIES</h1>
    <p>leads generation</p>
    <p>telesales</p>
    <p>customer service</p>
    <p>technical support</p>
    <p>collection</p>
    <p>etc</p>

  </div>

</section>