// body {
//   padding: 50px;
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
// }

// a {
//   color: #00B7FF;
// }

body{
  font-family: "Comic Sans MS";
}
// LAYOUT
nav{
  font-family: "Comic Sans MS";
  font-size: 1.5vw;
  height: 13vh;
}
nav a{
  text-decoration: none;
  color:black;
}

.logo-image-in-nav-bar{
  width: 37vw;
  height: 13vh;
  float: left;
  text-align: center;
  display: flex;
}

.logo-image-in-nav-bar img{
  height: 11vh;
  margin: auto 19vw auto auto;
}

.links-in-nav-bar{
  width: 53vw;
  height: 13vh;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// HOME PAGE

.page{
  min-height: 80vh;
}

.home-page-pitch{
  width: 30vw;
  min-height: 40vh;
  float: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}
.home-page-pitch h1{
  font-size: 3.5vw;
}

.home-page-pitch h3{
  font-size: 2vw;
}


.home-page-pitch h1,h3{
  margin: 0;
}

.image-section{
  background-image: url('../images/home-image.PNG');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 60vw;
  min-height: 84vh;
  float: right;

}

// About US page 

.about-page-image{
  background-image: url('../images/about-page.PNG');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 59vw;
  min-height: 84vh;
  float: left;
}



.home-page-pitch-version-2{
  font-family: "Caveat";
  text-align: center;
  float: right;
  width: 35.5vw;


}

.home-page-pitch-version-2 h1{
  margin-top: 5vh;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -1px;
  margin-bottom: 12vh;
}
.home-page-pitch-version-2 p{
  font-size: 2vw;
}


// Customers PAGe 

.customers-page-image{
  background-image: url('../images/customers-page.png');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 59vw;
  min-height: 84vh;
  float: left;
}



// Services Page


.services-page-image{
  background-image: url('../images/services-page.png');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 59vw;
  min-height: 84vh;
  float: left;
}

// Contact 
.contact-page-image{
  background-image: url('../images/contact-image.png');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 59vw;
  min-height: 84vh;
  float: left;
}


.contact-us{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2vw;
  margin-top: 8vw;
}

.contact-us div{
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-us label{
  font-size: 2vw;
}
.contact-us input{
  width: 50%;
}
#name{
  margin-right: 7vw;
}
#phone-number{
  margin-right: 1.7vw;
}
#email-address{
  margin-right: 1.38vw;
}

#comments{
  margin-right: 3.89vw;
}

#submit-input{
  border:none;
  font-family: "Caveat";
  font-size: 2vw;
  margin-left: 14vw;
  cursor: pointer;

}

.contact-us p{
  margin-top:12vh ;
}

#fields{

}

@media  only screen and (max-width: 600px){
  html {
    max-height: 100vh;
    overflow: hidden;
  }
  nav{
    font-family: "Comic Sans MS";
    font-size: 1.5vw;
    height: 10vh;
  }
  .links-in-nav-bar {
    width: 100%;
    font-size: 3.5vw;
    height: 7vh;
    margin-bottom: 5vh;
  }

  .page{
    max-height: 80vh;
  }
  .links-in-nav-bar {
    width: 100%;
    font-size: 3.5vw;
    height: 7vh;
  }
  .logo-image-in-nav-bar {
    width: 37vw;
    height: 4vh;
    float: none;
    text-align: center;
    display: flex;
    margin: auto 35vw auto auto;
  }
  .logo-image-in-nav-bar img {
    height: 7vh;
    margin: auto;
  }
  .home-page-pitch{
    width: 100%;
    min-height: 19vh;
    margin-top: 12vh;
  }
  .home-page-pitch h1{
    font-size: 7.5vw;

  }
  .home-page-pitch h2{
    font-size: 6vw;
  }

  .home-page-pitch h3{
    font-size: 6vw;
  }
  .image-section
  {
    background-size: contain;
    width: 100%;

  }
  .about-page-image {
    background-size: contain;
    width: 100%;
  }
  .home-page-pitch-version-2{
    width: 100%;
    float:none;
  }
  // #logo{
  //   display: none;
  // }

  .home-page-pitch-version-2 h1{

    margin-bottom: 7vh;
    margin-top: 3vh;
  }

  .home-page-pitch-version-2 p{
    font-size: 5vw;
  }

  .customers-page-image{
    background-size: contain;
    width: 100%;
  }
  .services-page-image{
    background-size: contain;
    width: 100%;
  }

  .contact-us label {
    font-size: 6vw;
  }
  .contact-us input {
    width: 50%;
    border: 1px solid black;
  }
  #name{
    margin-right: 18vw;
  }
  #phone-number{
    margin-right: 1.9vw;
  }
  #comments{
    margin-right: 8.89vw;
  }
  #fields{
    margin-top: 4vh;
  }
  #submit-input{
    margin-left: 24vw;
    background: none;
    font-size: 5vw;
  }
  .contact-page-image{
    background-size: contain;
    width: 100%;
    margin-top: 1vh;
  }
}